.About {
    background-origin: content-box;
    padding: 50px;
}

.about-image {
    background: url(../../images/Coding.jpg);
    background-repeat: no-repeat;
    height: 400px;
    opacity: 0.9 !important;
    margin-top: 40px;
    background-position: 30% 0;
}