.image {
    position: absolute;
    z-index: -1;


    background-image:url('../../images/mountain.jpeg');

    margin-bottom: 5000px;

    background-size: cover;
    height: 80%;
    background-position:center;
    width: 100%;
    opacity: 80%;
}

.intro {
    padding: 30px;
}