.image {
    position: absolute;
    z-index: -1;
    background: url(../../images/mountain.jpeg);
    background-size: cover;
    height: 90%;
    background-position: center;
    width: 100%;
    opacity: 0.8 !important;
}

.intro {
    padding: 50px;
}