.image {
    position: absolute;
    z-index: -1;


    background: url(../../images/mountain.jpeg);
    /* background-image: url(https://user-images.githubusercontent.com/58706647/104140281-b86bf680-537e-11eb-818d-6d5de383d5b1.jpeg); */

    /* margin-bottom: 500px; */

    background-size: cover;
    height: 90%;
    background-position: center;
    width: 100%;
    opacity: 80%;
}

.intro {
    padding: 50px;
}