footer {
    background: #000000;
    height: 90px;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.footnote {
    color: white;
    font-size: 10pt;
    margin-top: 3px;
    opacity: 0.6;

}

footer .footnote .highlight {
    color: rgb(209, 156, 156)
}

.fab {
    font-size: 30px;
    margin: 3px;
    margin-bottom: 7px;

}

a .fab {
    color: white;
}

.fab:hover {
    color: rgb(109, 160, 228);
}